/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */

 .select2.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 15px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    position: relative !important;
    min-height: 38px;
    /* height: 38px; */
    line-height: 2.2em !important;
}
.select2-selection__rendered .row .col-auto {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -4px;
}
.select2-selection__clear {
    height: 100% !important;
    position: absolute !important;
    display: inline-flex;
    vertical-align: middle;
    right: 8px;
    top: 0;
    bottom: 0;
    align-items: center;
    padding: 10px;
}

.select-preview {
    width: 45px;
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle !important;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    color: #444444;
    background-color: #FFF;
}
.select2-selection__rendered .select-preview {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
}
.select-preview span:before {
    vertical-align: middle !important;
    display: block !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    box-shadow: none !important;
    border-radius: 3px !important;
    opacity: 0.8;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:focus,
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
    opacity: 1;
}
.select2-selection.select2-selection--multiple li.select2-selection__choice > div > div {
    margin-left: -5px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}




:focus {
    box-shadow: inset 0 0 0 transparent !important;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}

.auth-wrapper-left {
    min-height: 400px;
}

/* #navbarsMain .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    margin-bottom: -5px !important;
    vertical-align: 0.255em;
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
    content:"\f107";
    border: none;
} */


/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */
 :root {
    --ck-z-default: 100 !important;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
}
.form-control:focus {
    box-shadow: inset 0 0 0 transparent !important;
}


.line-height-sm {
    line-height: 120% !important;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form-description {
    color: #1f2d3d;
    border: 1px solid #dee2e6;
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: #f8f9fa;
    margin-bottom: 1em;
}



body .border-dotted {
    border-style: dashed !important;
}
body .pt-4, body .py-4 {
    padding-top: 2.0rem!important;
}



/* gutter */
.row.gutter-sm {
    margin-right: -7px;
    margin-left: -7px;
}
.gutter-sm .col, .gutter-sm .col-1, .gutter-sm .col-10, .gutter-sm .col-11, .gutter-sm .col-12, .gutter-sm .col-2, .gutter-sm .col-3, .gutter-sm .col-4, .gutter-sm .col-5, .gutter-sm .col-6, .gutter-sm .col-7, .gutter-sm .col-8, .gutter-sm .col-9, .gutter-sm .col-auto, 
.gutter-sm .col-lg, .gutter-sm .col-lg-1, .gutter-sm .col-lg-10, .gutter-sm .col-lg-11, .gutter-sm .col-lg-12, .gutter-sm .col-lg-2, .gutter-sm .col-lg-3, .gutter-sm .col-lg-4, .gutter-sm .col-lg-5, .gutter-sm .col-lg-6, .gutter-sm .col-lg-7, .gutter-sm .col-lg-8, .gutter-sm .col-lg-9, .gutter-sm .col-lg-auto, 
.gutter-sm .col-md, .gutter-sm .col-md-1, .gutter-sm .col-md-10, .gutter-sm .col-md-11, .gutter-sm .col-md-12, .gutter-sm .col-md-2, .gutter-sm .col-md-3, .gutter-sm .col-md-4, .gutter-sm .col-md-5, .gutter-sm .col-md-6, .gutter-sm .col-md-7, .gutter-sm .col-md-8, .gutter-sm .col-md-9, .gutter-sm .col-md-auto, 
.gutter-sm .col-sm, .gutter-sm .col-sm-1, .gutter-sm .col-sm-10, .gutter-sm .col-sm-11, .gutter-sm .col-sm-12, .gutter-sm .col-sm-2, .gutter-sm .col-sm-3, .gutter-sm .col-sm-4, .gutter-sm .col-sm-5, .gutter-sm .col-sm-6, .gutter-sm .col-sm-7, .gutter-sm .col-sm-8, .gutter-sm .col-sm-9, .gutter-sm .col-sm-auto, 
.gutter-sm .col-xl, .gutter-sm .col-xl-1, .gutter-sm .col-xl-10, .gutter-sm .col-xl-11, .gutter-sm .col-xl-12, .gutter-sm .col-xl-2, .gutter-sm .col-xl-3, .gutter-sm .col-xl-4, .gutter-sm .col-xl-5, .gutter-sm .col-xl-6, .gutter-sm .col-xl-7, .gutter-sm .col-xl-8, .gutter-sm .col-xl-9, .gutter-sm .col-xl-auto {
    padding-right: 7px;
    padding-left: 7px;
}





.accordion {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}
.accordion .card {
    box-shadow: none;
    background-color: transparent;
}
.accordion .card .collapse {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.accordion .card:last-child .collapse {
    border-bottom: none;
}
.accordion .card .card-header {
    padding: 0;
    /* background-color: #f4f6f9; */
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.accordion .card:last-child .card-header.collapse {
    padding: 0;
    /* background-color: #f4f6f9; */
    border-bottom: none;
}
.accordion .card .card-header button {
    text-align: left;
    /* padding: 8px 15px; */
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
}
.accordion .card .card-header button i {
    float: right;
    padding: 4px 0;
}
/* .accordion .card .card-body {
    padding-left: 0;
    padding-right: 0;
} */





/* vertical heights */

/* 50 vertical height */
.vertical-height-50,
.vertical-height-50.jarallax-fixed .jarallax-container div {
	height: 50vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-50.cover-bg,
.vertical-height-50.cover-bg .v-align-wrapper,
.vertical-height-50.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 600px;
}
.vertical-height-50.cover-bg .v-align-wrapper {
	height: 50vh !important;
}


/* 65 vertical height */
.vertical-height-65,
.vertical-height-65.jarallax-fixed .jarallax-container div {
	height: 65vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-65.cover-bg,
.vertical-height-65.cover-bg .v-align-wrapper,
.vertical-height-65.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 700px;
}
.vertical-height-65.cover-bg .v-align-wrapper {
	height: 65vh !important;
}


/* 75 vertical height */
.vertical-height-75,
.vertical-height-75.jarallax-fixed .jarallax-container div {
	height: 75vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-75,
.vertical-height-75.cover-bg .v-align-wrapper,
.vertical-height-75.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 800px;
}
.vertical-height-75.cover-bg .v-align-wrapper {
	height: 75vh !important;
}


/* 85 vertical height */
.vertical-height-85,
.vertical-height-85.jarallax-fixed .jarallax-container div {
	height: 85vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-85.cover-bg,
.vertical-height-85.cover-bg .v-align-wrapper,
.vertical-height-85.jarallax-fixed .jarallax-container div {
	min-height: 400px;
	max-height: 900px;
}
.vertical-height-85.cover-bg .v-align-wrapper {
	height: 85vh !important;
}


/* 100 vertical height */
.vertical-height-100,
.vertical-height-100.jarallax-fixed .jarallax-container div {
	height: 100vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-100.cover-bg,
.vertical-height-100.cover-bg .v-align-wrapper,
.vertical-height-100.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 1200px;
}
.vertical-height-100.cover-bg .v-align-wrapper {
	height: 100vh !important;
}


@media (min-width: 992px) {
	
	.vheight-md {
		height: 0;
	}

}
/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */

 .select2.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 15px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    position: relative !important;
    min-height: 38px;
    /* height: 38px; */
    line-height: 2.2em !important;
}
.select2-selection__rendered .row .col-auto {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -4px;
}
.select2-selection__clear {
    height: 100% !important;
    position: absolute !important;
    display: inline-flex;
    vertical-align: middle;
    right: 8px;
    top: 0;
    bottom: 0;
    align-items: center;
    padding: 10px;
}

.select-preview {
    width: 45px;
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle !important;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    color: #444444;
    background-color: #FFF;
}
.select2-selection__rendered .select-preview {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
}
.select-preview span:before {
    vertical-align: middle !important;
    display: block !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    box-shadow: none !important;
    border-radius: 3px !important;
    opacity: 0.8;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:focus,
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
    opacity: 1;
}
.select2-selection.select2-selection--multiple li.select2-selection__choice > div > div {
    margin-left: -5px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}




:focus {
    box-shadow: inset 0 0 0 transparent !important;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}

.auth-wrapper-left {
    min-height: 400px;
}

/* #navbarsMain .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    margin-bottom: -5px !important;
    vertical-align: 0.255em;
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
    content:"\f107";
    border: none;
} */


/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */
 :root {
    --ck-z-default: 100 !important;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
}
.form-control:focus {
    box-shadow: inset 0 0 0 transparent !important;
}


.line-height-sm {
    line-height: 120% !important;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form-description {
    color: #1f2d3d;
    border: 1px solid #dee2e6;
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: #f8f9fa;
    margin-bottom: 1em;
}



body .border-dotted {
    border-style: dashed !important;
}
body .pt-4, body .py-4 {
    padding-top: 2.0rem!important;
}



/* gutter */
.row.gutter-sm {
    margin-right: -7px;
    margin-left: -7px;
}
.gutter-sm .col, .gutter-sm .col-1, .gutter-sm .col-10, .gutter-sm .col-11, .gutter-sm .col-12, .gutter-sm .col-2, .gutter-sm .col-3, .gutter-sm .col-4, .gutter-sm .col-5, .gutter-sm .col-6, .gutter-sm .col-7, .gutter-sm .col-8, .gutter-sm .col-9, .gutter-sm .col-auto, 
.gutter-sm .col-lg, .gutter-sm .col-lg-1, .gutter-sm .col-lg-10, .gutter-sm .col-lg-11, .gutter-sm .col-lg-12, .gutter-sm .col-lg-2, .gutter-sm .col-lg-3, .gutter-sm .col-lg-4, .gutter-sm .col-lg-5, .gutter-sm .col-lg-6, .gutter-sm .col-lg-7, .gutter-sm .col-lg-8, .gutter-sm .col-lg-9, .gutter-sm .col-lg-auto, 
.gutter-sm .col-md, .gutter-sm .col-md-1, .gutter-sm .col-md-10, .gutter-sm .col-md-11, .gutter-sm .col-md-12, .gutter-sm .col-md-2, .gutter-sm .col-md-3, .gutter-sm .col-md-4, .gutter-sm .col-md-5, .gutter-sm .col-md-6, .gutter-sm .col-md-7, .gutter-sm .col-md-8, .gutter-sm .col-md-9, .gutter-sm .col-md-auto, 
.gutter-sm .col-sm, .gutter-sm .col-sm-1, .gutter-sm .col-sm-10, .gutter-sm .col-sm-11, .gutter-sm .col-sm-12, .gutter-sm .col-sm-2, .gutter-sm .col-sm-3, .gutter-sm .col-sm-4, .gutter-sm .col-sm-5, .gutter-sm .col-sm-6, .gutter-sm .col-sm-7, .gutter-sm .col-sm-8, .gutter-sm .col-sm-9, .gutter-sm .col-sm-auto, 
.gutter-sm .col-xl, .gutter-sm .col-xl-1, .gutter-sm .col-xl-10, .gutter-sm .col-xl-11, .gutter-sm .col-xl-12, .gutter-sm .col-xl-2, .gutter-sm .col-xl-3, .gutter-sm .col-xl-4, .gutter-sm .col-xl-5, .gutter-sm .col-xl-6, .gutter-sm .col-xl-7, .gutter-sm .col-xl-8, .gutter-sm .col-xl-9, .gutter-sm .col-xl-auto {
    padding-right: 7px;
    padding-left: 7px;
}





.accordion {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}
.accordion .card {
    box-shadow: none;
    background-color: transparent;
}
.accordion .card .collapse {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.accordion .card:last-child .collapse {
    border-bottom: none;
}
.accordion .card .card-header {
    padding: 0;
    /* background-color: #f4f6f9; */
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.accordion .card:last-child .card-header.collapse {
    padding: 0;
    /* background-color: #f4f6f9; */
    border-bottom: none;
}
.accordion .card .card-header button {
    text-align: left;
    /* padding: 8px 15px; */
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
}
.accordion .card .card-header button i {
    float: right;
    padding: 4px 0;
}
/* .accordion .card .card-body {
    padding-left: 0;
    padding-right: 0;
} */





/* vertical heights */

/* 50 vertical height */
.vertical-height-50,
.vertical-height-50.jarallax-fixed .jarallax-container div {
	height: 50vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-50.cover-bg,
.vertical-height-50.cover-bg .v-align-wrapper,
.vertical-height-50.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 600px;
}
.vertical-height-50.cover-bg .v-align-wrapper {
	height: 50vh !important;
}


/* 65 vertical height */
.vertical-height-65,
.vertical-height-65.jarallax-fixed .jarallax-container div {
	height: 65vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-65.cover-bg,
.vertical-height-65.cover-bg .v-align-wrapper,
.vertical-height-65.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 700px;
}
.vertical-height-65.cover-bg .v-align-wrapper {
	height: 65vh !important;
}


/* 75 vertical height */
.vertical-height-75,
.vertical-height-75.jarallax-fixed .jarallax-container div {
	height: 75vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-75,
.vertical-height-75.cover-bg .v-align-wrapper,
.vertical-height-75.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 800px;
}
.vertical-height-75.cover-bg .v-align-wrapper {
	height: 75vh !important;
}


/* 85 vertical height */
.vertical-height-85,
.vertical-height-85.jarallax-fixed .jarallax-container div {
	height: 85vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-85.cover-bg,
.vertical-height-85.cover-bg .v-align-wrapper,
.vertical-height-85.jarallax-fixed .jarallax-container div {
	min-height: 400px;
	max-height: 900px;
}
.vertical-height-85.cover-bg .v-align-wrapper {
	height: 85vh !important;
}


/* 100 vertical height */
.vertical-height-100,
.vertical-height-100.jarallax-fixed .jarallax-container div {
	height: 100vh !important;
    min-height: 350px;
	padding: 0 !important;
}
.vertical-height-100.cover-bg,
.vertical-height-100.cover-bg .v-align-wrapper,
.vertical-height-100.jarallax-fixed .jarallax-container div {
	min-height: 350px;
	max-height: 1200px;
}
.vertical-height-100.cover-bg .v-align-wrapper {
	height: 100vh !important;
}


@media (min-width: 992px) {
	
	.vheight-md {
		height: 0;
	}

}
/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/



body a {

}
body a:hover {
    text-decoration: none;
}





.frontend h1 {
    font-size: 3.5rem;
}
.frontend h2 {
    font-size: 2.9rem;
}
.frontend h3 {
    font-size: 2.2rem;
}





.bg-green {
    background-color: #3b9343 !important;
}
.bg-black {
    background-color: #000;
    color: #FFFFFF !important;
}
.bg-dark {
    color: #FFFFFF;
}
.bg-blue {
    background-color: #0076C1;
    color: #FFFFFF;
}




.font-weight-500 {
    font-weight: 500 !important;
}




.font-size-x {
    font-size: 1.2rem;
}
.font-size-xx {
    font-size: 1.4rem;
}




.w-250 {
    width: 250px;
}
.w-200 {
    width: 200px;
}
.w-150 {
    width: 150px;
}
.w-120 {
    width: 120px;
}



/* Nav styles */

.navbar a {
    color: black;
    font-weight: 500;
}
.navbar-brand img.logo {
    height: 85px;
    margin: auto;
}
.offset-header {
    padding-top: 100px !important;
}

.secondary-navbar {
    background-color: #FFFFFF;
}




/* Breadcrumb */

.frontend .breadcrumb {
    margin-bottom: 0.5rem;
}





/* Header styles */
.page-top-wrapper {
    text-align: center;
    padding: 4rem 0;
    background-color: #ececec;
    border-bottom: 1px solid #dee2e6;
}
.frontend #navbarsMain .navbar-nav>li.nav-item>a {
    padding: 0 0.5rem;
}




/* Main menu styles */
#navbarsMain .navbar-nav>li.nav-item>a {
    line-height: 90px;
    font-size: 1.05rem;
    /* padding: 0 1rem; */
    display: flex;
}
#navbarsMain .navbar-nav>li.nav-item.show>a,
#navbarsMain .navbar-nav>li.nav-item>a:hover {
    color: #007bff;
}
.frontend .dropdown-toggle::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    display: inline-block;
    border: none;
    margin-left: 5px;
}
#navbarsMain .nav-item a.active {
    color: #007bff;
}
#navbarsMain .nav-item a.dropdown-item.active {
    color: #FFFFFF;
}

#navbarsMain .navbar-nav .dropdown-menu {
    min-width: 200px;
    width: 200px;
    border-radius: 5px;
    padding-top: 0;
    margin: auto;
    box-shadow: 0 4px 10px -2px rgb(0 0 0 / 10%);
}
.navbar-nav .dropdown-menu {
    min-width: 250px;
    width: 250px;
}
.navbar-nav .dropdown-menu .dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: normal;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
}





/* mmenu */
.mm-menu {
    z-index: 99999 !important;
}
.mm-menu_position-front.mm-menu_opened~.mm-wrapper__blocker {
    z-index: 9999 !important;
}
.mm-menu ul.mm-listview a {
    display: block;
    padding: 10px 10px 10px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 10%;
}
.mm-wrapper_opening [class*=mm-menu_pagedim].mm-menu_opened~.mm-wrapper__blocker {
    opacity: 0.6 !important;
}




/* Slick Slider */

.slick-slider .slick-prev,
.slick-slider .slick-next {
    z-index: 1050;
    width: 30px;
    height: 30px;
}
.slick-slider .slick-prev {
    left: 10px;
}
.slick-slider .slick-next {
    right: 10px;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
    color: #000;
}
.slick-slider .slick-prev:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    content:"\f104" !important;
}
.slick-slider .slick-next:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    content:"\f105" !important;
}


.slick-slider .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0px 4px;
}
.slick-slider .slick-dots li button {
    padding: 0;
    width: 7px;
    height: 7px;
    background-color: #c9c9c9;
    margin: auto;
    border-radius: 3.5px;
    transition: background 300ms, color 300ms, border-color 300ms;
    -moz-transition: background 300ms, color 300ms, border-color 300ms;
    -o-transition: background 300ms, color 300ms, border-color 300ms;
    -webkit-transition: background 300ms, color 300ms, border-color 300ms;
}
.slick-slider .slick-dots li button:before {
    content: '';
    display: none;
}
.slick-slider .slick-dots li.slick-active button {
    background-color: #383838;
    transform: scale(1.5);
}


.slider-main-slider {
    position: relative;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
.slider-main-slider .slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.slider-main-slider .slider-overlay h2 {
    font-size: 3.2rem;
    font-weight: 600 !important;
    line-height: 110%;
    margin-bottom: 25px;
}
.slider-main-slider .slider-overlay p {
    font-size: 1.4rem;
}


/** Slider text animation **/
.slider-main-slider-wrapper .slick-slider .slick-prev:before,
.slider-main-slider-wrapper .slick-slider .slick-next:before {
    color: #FFFFFF;
}
.slider-main-slider-wrapper .slick-slide .slider-content {
    opacity: 0;
}
.slider-main-slider-wrapper .slick-slide.slick-active .slider-content {
    -webkit-animation-name: fadeInUpSD;
            animation-name: fadeInUpSD;
    /* animation-delay: 750ms; */
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    opacity: 1;
    width: 100%;
}
.fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
}
@-webkit-keyframes fadeInUpSD {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    20% {
        opacity: 0;
        transform: translateY(100px);
    }
    40% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInUpSD {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    20% {
        opacity: 0;
        transform: translateY(100px);
    }
    40% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}






.footer {
    background-color: #000;
}
.footer h4 {
    margin-bottom: 1.5rem;
}
/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}


body .sidebar {
	overflow-y: scroll !important;
}
body .sidebar img {
    max-width: none;
}






body a.disabled {
    opacity: 0.4 !important;
    cursor: default !important;
    text-decoration: none !important;
    border: none !important;
}





form .form-btns-wrapper {
    border-top: 1px solid #dee2e6 !important;
    margin-top: 25px !important;
    padding-top: 15px !important;
}


.nav-sidebar>.nav-item>.nav-link.active .text-primary {
    color: #FFFFFF !important;
}


#nprogress {
	z-index: 9999 !important;
	position: relative !important;
}
.dropdown-toggle-no-caret::after {
    display: none !important;
}

.highcharts-credits {
    display: none !important;
}



ul.admin-list {
    padding-left: 0;
    list-style: none;
    margin: 1rem 0;
}
ul.admin-list li a {
    display: block;
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    border-bottom: 1px solid #dee2e6 !important;
    cursor: pointer;
}
ul.admin-list li a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f138";
    margin-left: -1.8rem;
    padding-right: 0.5rem;
    color: rgba(0,0,0,.4);
}
ul.admin-list li a span {
    font-weight: 500;
}
ul.admin-list li a:hover span {
    text-decoration: underline;
}
ul.admin-list li a:hover:before {
    color: inherit;
}
ul.admin-list li a .description {
    color: initial;
    font-size: smaller;
}


.admin-grid-items > div > div {
    padding: 1rem;
    margin: 0 -1px -1px 0;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.admin-grid-items span.label {
    font-weight: bold;
}
.admin-grid-items .description {
    font-size: smaller;
}




body .accordion>.card {
    overflow: visible;
}

.file-entity-preview {
    min-width: 72px;
    height: 72px;
    width: 100%;
    max-width: 100%;
    background-color: #FFFFFF;
}

body .thumb-small {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
}







/* Override tailwindcss reset styles */
body .mx-datepicker.form-control {
    padding: 0;
    border: none;
    box-shadow: none;
    width: 100%;
    display: block;
}
body .mx-input {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.bootstrap-table #toolbar {
    padding-right: 5px;
}


*:focus {
    outline: none;
    outline-width: 0;
}
* {
	-webkit-tap-highlight-color: transparent;
}
/*:focus {
    outline-color: transparent !important; 
    outline-width: 0 !important;
}*/



/*body .main-header {
    z-index: 900 !important;
}*/

/* Override tailwindcss reset styles */
[type='radio'] {
    border-radius: 100%;
}

ol, ul {
    padding-left: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
ol {
    list-style: decimal;
}
ul {
    list-style: inherit;
}



.smaller {
    font-size: 95%;
}



label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500 !important;
}




.main-sidebar .nav-link {
    padding: .5rem .8rem;
}






/* Dragable styles */
.draggable-area {
    cursor: move;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}


.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
    z-index: 100 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    max-width: 100%;
}
.bootstrap-table .fixed-table-body {
    min-height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #dee2e6!important;
    border-top: none !important;
    border-radius: .25rem!important;
}
.bootstrap-table .fixed-height .fixed-table-header table {
    border-bottom: none !important;
    min-width: 100%;
}
.bootstrap-table .fixed-height .fixed-table-body table.table {
    border: none !important;
    min-width: 100%;
}
.bootstrap-table .fixed-table-container.fixed-height {
    height: calc(100vh - (230px)) !important;
    min-height: 420px;
}
.bootstrap-table.fullscreen {
    padding-left: 12px;
    padding-right: 12px;
}
.bootstrap-table.fullscreen .fixed-table-container.fixed-height {
    height: calc(100vh - (120px)) !important;
}
.bootstrap-table .fixed-table-container.fixed-height .fixed-table-body {
    min-height: 100% !important;
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
    border-bottom: none !important;
}



.dropdown-filters,
.bootstrap-table .fixed-table-toolbar .bs-bars {
    position: unset !important;
}
.fixed-table-toolbar {
    position: relative;
}
.dropdown-filters ul.dropdown-menu {
    left: -19px !important;
}

.dropdown-filters.dropdown-menu-20left ul.dropdown-menu {
    left: -20px !important;
}

.dropdown-filters ul.dropdown-menu {
    width: 100%;
    min-width: 800px;
    left: 0;
    right: 0;
}





.table-borderless {
    margin-bottom: 0 !important;
}
.table-borderless tbody+tbody, 
.table-borderless td, 
.table-borderless th, 
.table-borderless thead th {
    /* padding-left: 0 !important; */
}

.form-group label.custom-control-label {
    font-weight: normal !important;
}


.nav-tabs .nav-item.inertia-link .nav-link.active {
    color: #007bff;
    border: none;
    border-bottom: 3px solid #007bff !important;
    background-color: transparent;
}
.modal-dialog .nav-tabs {
    padding: 16px 16px 0 16px;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: #f4f6f9;
}
.modal-dialog .tab-content {
    margin-top: 1.5em !important;
    min-height: 220px;
}
.modal-dialog .nav-tabs .nav-link {
}
.modal-dialog .nav-tabs .nav-item .nav-link.active {
}
.modal-backdrop {
	opacity: .5;
}






.ck-editor__editable {
    min-height: 270px !important;
    max-height: 320px !important;
}
.modal-dialog .ck-editor__editable {
    min-height: 180px !important;
    max-height: 320px !important;
}
.ck-editor__editable_inline {
    border: 1px solid #ced4da !important;
    border-radius: 0 0 4px 4px !important;
    background-color: #FFFFFF !important;
}
.ck-editor__editable_inline.ck-focused {
    border: 1px solid rgb(119, 158, 243) !important;
    box-shadow: none !important;
    background-color: #FFFFFF !important;
}



body .ck-editor-indented .ck.ck-editor {
    padding-top: 5px;
}
body .ck-editor-indented .ck.ck-editor .ck-editor__top .ck-sticky-panel__content {
    margin-left: 150px;
    margin-top: -35px;
}
body .ck.ck-editor .ck-editor__top .ck-toolbar {
    border-radius: 5px 5px 0 0 !important;
}
body .ck.ck-editor .ck-editor__top .ck-sticky-panel__content.ck-sticky-panel__content_sticky {
    margin-top: auto;
    margin-left: auto;
}





.live-edit-wrapper {
    position: relative;
}
.live-edit-wrapper .live-edit-wrapper {
    padding-top: 2rem;
}
.live-edit-wrapper .jarallax {
    position: unset !important;
}
.live-edit-wrapper .live-edit-area {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    padding: 0 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.70);
    border: 1px dashed rgba(0, 0, 0, 0.50);
    display: none;
}
.live-edit-wrapper:hover > .live-edit-area {
    display: block;
}





.img-rounded-circle img {
    border-radius: 50% !important;
    min-width: 38px;
    min-height: 38px;
}





.width-100px {
    display: block !important;
    max-width: 100px !important;
}
.width-200px {
    display: block !important;
    max-width: 200px !important;
}



.h-50px {
    min-height: 50px !important;
}
.h-100px {
    min-height: 100px !important;
}
.h-200px {
    min-height: 200px !important;
}
