/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */

 .select2.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 15px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    position: relative !important;
    min-height: 38px;
    /* height: 38px; */
    line-height: 2.2em !important;
}
.select2-selection__rendered .row .col-auto {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -4px;
}
.select2-selection__clear {
    height: 100% !important;
    position: absolute !important;
    display: inline-flex;
    vertical-align: middle;
    right: 8px;
    top: 0;
    bottom: 0;
    align-items: center;
    padding: 10px;
}

.select-preview {
    width: 45px;
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle !important;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    color: #444444;
    background-color: #FFF;
}
.select2-selection__rendered .select-preview {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
}
.select-preview span:before {
    vertical-align: middle !important;
    display: block !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    box-shadow: none !important;
    border-radius: 3px !important;
    opacity: 0.8;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:focus,
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
    opacity: 1;
}
.select2-selection.select2-selection--multiple li.select2-selection__choice > div > div {
    margin-left: -5px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}




:focus {
    box-shadow: inset 0 0 0 transparent !important;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}