/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/
@import 'app-overrides.css';
@import 'app-layouts.css';



body a {

}
body a:hover {
    text-decoration: none;
}





.frontend h1 {
    font-size: 3.5rem;
}
.frontend h2 {
    font-size: 2.9rem;
}
.frontend h3 {
    font-size: 2.2rem;
}





.bg-green {
    background-color: #3b9343 !important;
}
.bg-black {
    background-color: #000;
    color: #FFFFFF !important;
}
.bg-dark {
    color: #FFFFFF;
}
.bg-blue {
    background-color: #0076C1;
    color: #FFFFFF;
}




.font-weight-500 {
    font-weight: 500 !important;
}




.font-size-x {
    font-size: 1.2rem;
}
.font-size-xx {
    font-size: 1.4rem;
}




.w-250 {
    width: 250px;
}
.w-200 {
    width: 200px;
}
.w-150 {
    width: 150px;
}
.w-120 {
    width: 120px;
}



/* Nav styles */

.navbar a {
    color: black;
    font-weight: 500;
}
.navbar-brand img.logo {
    height: 85px;
    margin: auto;
}
.offset-header {
    padding-top: 100px !important;
}

.secondary-navbar {
    background-color: #FFFFFF;
}




/* Breadcrumb */

.frontend .breadcrumb {
    margin-bottom: 0.5rem;
}





/* Header styles */
.page-top-wrapper {
    text-align: center;
    padding: 4rem 0;
    background-color: #ececec;
    border-bottom: 1px solid #dee2e6;
}
.frontend #navbarsMain .navbar-nav>li.nav-item>a {
    padding: 0 0.5rem;
}




/* Main menu styles */
#navbarsMain .navbar-nav>li.nav-item>a {
    line-height: 90px;
    font-size: 1.05rem;
    /* padding: 0 1rem; */
    display: flex;
}
#navbarsMain .navbar-nav>li.nav-item.show>a,
#navbarsMain .navbar-nav>li.nav-item>a:hover {
    color: #007bff;
}
.frontend .dropdown-toggle::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    display: inline-block;
    border: none;
    margin-left: 5px;
}
#navbarsMain .nav-item a.active {
    color: #007bff;
}
#navbarsMain .nav-item a.dropdown-item.active {
    color: #FFFFFF;
}

#navbarsMain .navbar-nav .dropdown-menu {
    min-width: 200px;
    width: 200px;
    border-radius: 5px;
    padding-top: 0;
    margin: auto;
    box-shadow: 0 4px 10px -2px rgb(0 0 0 / 10%);
}
.navbar-nav .dropdown-menu {
    min-width: 250px;
    width: 250px;
}
.navbar-nav .dropdown-menu .dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: normal;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
}





/* mmenu */
.mm-menu {
    z-index: 99999 !important;
}
.mm-menu_position-front.mm-menu_opened~.mm-wrapper__blocker {
    z-index: 9999 !important;
}
.mm-menu ul.mm-listview a {
    display: block;
    padding: 10px 10px 10px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 10%;
}
.mm-wrapper_opening [class*=mm-menu_pagedim].mm-menu_opened~.mm-wrapper__blocker {
    opacity: 0.6 !important;
}




/* Slick Slider */

.slick-slider .slick-prev,
.slick-slider .slick-next {
    z-index: 1050;
    width: 30px;
    height: 30px;
}
.slick-slider .slick-prev {
    left: 10px;
}
.slick-slider .slick-next {
    right: 10px;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
    color: #000;
}
.slick-slider .slick-prev:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    content:"\f104" !important;
}
.slick-slider .slick-next:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    content:"\f105" !important;
}


.slick-slider .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0px 4px;
}
.slick-slider .slick-dots li button {
    padding: 0;
    width: 7px;
    height: 7px;
    background-color: #c9c9c9;
    margin: auto;
    border-radius: 3.5px;
    transition: background 300ms, color 300ms, border-color 300ms;
    -moz-transition: background 300ms, color 300ms, border-color 300ms;
    -o-transition: background 300ms, color 300ms, border-color 300ms;
    -webkit-transition: background 300ms, color 300ms, border-color 300ms;
}
.slick-slider .slick-dots li button:before {
    content: '';
    display: none;
}
.slick-slider .slick-dots li.slick-active button {
    background-color: #383838;
    transform: scale(1.5);
}


.slider-main-slider {
    position: relative;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
.slider-main-slider .slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.slider-main-slider .slider-overlay h2 {
    font-size: 3.2rem;
    font-weight: 600 !important;
    line-height: 110%;
    margin-bottom: 25px;
}
.slider-main-slider .slider-overlay p {
    font-size: 1.4rem;
}


/** Slider text animation **/
.slider-main-slider-wrapper .slick-slider .slick-prev:before,
.slider-main-slider-wrapper .slick-slider .slick-next:before {
    color: #FFFFFF;
}
.slider-main-slider-wrapper .slick-slide .slider-content {
    opacity: 0;
}
.slider-main-slider-wrapper .slick-slide.slick-active .slider-content {
    animation-name: fadeInUpSD;
    /* animation-delay: 750ms; */
    animation-duration: 8s;
    animation-fill-mode: forwards;
    opacity: 1;
    width: 100%;
}
.fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
}
@-webkit-keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    40% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    40% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}






.footer {
    background-color: #000;
}
.footer h4 {
    margin-bottom: 1.5rem;
}